<div class="mt-5">
<% @articles.each do |article| %>
<h2><a href="/articles/<%= article[:id] %>" class="text-decoration-none"><%= article.title %></a></h2>
<p><%= article.content %></p>
<% end %>
</div>
